<launch>
  <arg name="serial_no_camera1"    		default="829212071753"/> 			<!-- Note: Replace with actual serial number -->
  <arg name="serial_no_camera2"    		default="845412110850"/> 			<!-- Note: other camera is 845412111472 -->
  <arg name="camera1"              		default="front_depth_camera"/>		<!-- Note: Replace with camera name -->
  <arg name="camera2"              		default="front_track_camera"/>		<!-- Note: Replace with camera name -->
  <arg name="tf_prefix_camera1"         default="$(arg camera1)"/>
  <arg name="tf_prefix_camera2"         default="$(arg camera2)"/>
  <arg name="initial_reset"             default="false"/>
  <arg name="publish_odom_tf"           default="false"/>
  <arg name="enable_pointcloud"         default="true"/>
  <arg name="align_depth"               default="true"/>
  <arg name="enable_sync"               default="true"/>

  <group ns="$(arg camera1)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera1)"/>
      <arg name="tf_prefix"         	value="$(arg tf_prefix_camera1)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="publish_odom_tf"       value="$(arg publish_odom_tf)"/>
      <arg name="enable_pointcloud"     value="$(arg enable_pointcloud)"/>
      <arg name="align_depth"           value="$(arg align_depth)"/>
      <arg name="enable_sync"           value="$(arg enable_sync)"/>
    </include>
  </group>

  <group ns="$(arg camera2)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"             value="$(arg serial_no_camera2)"/>
      <arg name="tf_prefix"		        value="$(arg tf_prefix_camera2)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="publish_odom_tf"       value="$(arg publish_odom_tf)"/>
    </include>
  </group>
</launch>
