<launch>
    <arg name="platform" default="m1" doc="string representing the platform" />

    <param name="robot_description"
        command="$(find xacro)/xacro --inorder
                '$(find mbz2020_common)/robots/$(arg platform).urdf.xacro'" />
    
    <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="static_tf_publisher" />
</launch>
