[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "src/ddynamic_reconfigure"]
	path = src/ddynamic_reconfigure
	url = https://github.com/pal-robotics/ddynamic_reconfigure.git
[submodule "src/sf30_node"]
	path = src/sf30_node
	url = git@bitbucket.org:castacks/sf30_node.git
[submodule "src/aruco_ros"]
	path = src/aruco_ros
	url = https://github.com/pal-robotics/aruco_ros.git
